<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar dentro</title>
    <link rel="shortcut icon" href="/Imagens/logo-redonda.png" type="image/x-icon">
    <link rel="stylesheet" href="/comentario-dentro/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/Imagens/logo-redonda.png" alt="logo" class="logo">
        <div class="prefeitura">
            <p>Prefeitura Municipal de Tupã</p>
            <img src="/Imagens/avatar prefeitura.jpg" alt="prefeitura" class="img_prefeitura">
        </div>
    </header>

    <div class="divisor1"></div>
<div class="principal">
    <div class="lado-esquerdo">
        <ul>
            <div>
                <a href="/postagens">
                    <li><img src="/Imagens/Icones/Gerenciamento/Postagens.svg" alt="postagens"></li>
                    <li>Postagens</li>
                </a>    
            </div>
            <div class="selecionado"> 
                <a href="/comentarios">
                    <li><img src="/Imagens/Icones/Gerenciamento/Comentarios.svg" alt="comentarios"></li>
                    <li>Comentários</li>
                </a>
            </div>    
            <div>
                <a href="/mensagens"> 
                    <li><img src="/Imagens/Icones/Gerenciamento/Mensagens.svg" alt="mensagens"></li>
                    <li>Mensagens</li>
                </a>    
            </div>
            <div>
                <a href="/editar"> 
                    <li><img src="/Imagens/Icones/Gerenciamento/Editar-post.svg" alt="editar-postagem"></li>
                    <li>Editar post</li>
                </a>    
            </div>
        </ul>
    </div>

    <div class="divisor2"></div>

<div class="lado-direito">

    {{#each comentarios_dentro}} 
        <h1>{{use_nome}}</h1> 
          <input type="text" name="coment_texto" value="{{coment_texto}}"> 
            <hr>

            <button type="submit">Aprovar</button>
            <button type="submit">Reprovar</button>
       {{/each}}


    {{!-- <div class="imagem-escrita">
        <div class="imagem">
            <img src="/Imagens/avatrar vilmar gongas.png" alt="">
        </div>
        <div class="escrita"> 
            <h3>Vilmar Gongas</h3>
            <h4>11/09/2022</h4>
        </div>   
    </div>

    <div class="quadrado">
        
    </div>

    <div class="aprovar-recusar">
        <div class="aprovar">
            <input type="submit" value="Aprovar">
        </div>
        <div class="recusar">
            <input type="submit" value="Recusar">
        </div>
    </div> --}}

</div>

</div>
</body>
</html>