<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLUB</title>
    <link rel="stylesheet" href="/home/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home/responsive.css">
    <link rel="icon" href="/Imagens/logo-redonda.png" type="image/x-icon">
</head>
<body>

<header>
    <div class="container-box">
        <img src="/Imagens/logo.png" alt="logo" class="logo">
            <nav>
                <ul>
                    <li>
                        <a href="/cadastrar" > Cadastrar </a>
                    </li>

                    <li>
                        <a href="/login" class="login">Login</a>
                    </li>

                </ul>
            </nav>
    </div>
</header>

{{#if aviso }}
            <h4 class="alerta">{{aviso}}</h4>
        {{/if}}

{{!-- <div class="email-verificacao">
    <h3>Um email foi enviado para a verificação da sua conta</h3>
</div> --}}
<section>
    <div class="presentation-box">
        <div class="text-presentation">
            <h1> Gerenciamento de lixo urbano brasileiro</h1>
            <h3>Mais que sua obrigação, reciclagem é necessidade.</h3>
        
        </div>
        <img src="/Imagens/imagem-principal.png" alt="main-image" class="main-image">
    </div>
</section>


<main>
    <div class="title-box">
        <h1> O que o site faz</h1>
        <p>O site de gerenciamento de lixo urbano brasileiro (GLUB) tem como propósito informar os moradores locais sobre a forma correta de descarte além de notificar e mostrar a rota do caminhão de lixo, mostrando que dia irá passar e o que irá recolher.</p>
    </div>

    <div class="content-box">
        <div class="primeira-imagem">
            <img src="/Imagens/lixao-redonda.png" alt="main-image" class="main-image">
        </div>

        <div class="segunda-imagem">
            
            <img src="/Imagens/praia-redondo.png" alt="main-image" class="main-image">
        </div>

        <div class="terceira-imagem">
        
            <img src="/Imagens/praca-redondo.png" alt="main-image" class="main-image">
        </div>
    </div>
</main>

<section class="faq">
    <h1> Perguntas frequentes</h1>

    <div class="grid-container">
        <div class="primeira-pergunta">
            <h3> Tem notificação de quando o caminhão passa?</h3>
            <p> Sim, tem notificação quando o caminhão estiver perto da sua casa.</p>
        </div>    

        <div class="segunda-pergunta">

            <h3> Como funcionará o sistema de GPS?</h3>
            <p>O GPS é conectado com o caminhão de lixo mostrando sua rota atual, tendo a possibilidade de entrar e ver onde ele está na cidade.</p>
           
            
        </div>

        <div class="terceira-pergunta">
            <h3> A prefeitura estará com o site?</h3>
            <p> Sim, e eles irão responder suas dúvidas.</p>
        </div>

        <div class="quarta-pergunta">
            <h3> Posso alterar o meu endereço a qualquer momento?</h3>
            <p>Sim, através das configurações localizadas no canto superior direito.</p>
        </div>

    </div>
</section>

<footer>

    <div class="footer-container">
        <div class="images">
            <a href="https://www.facebook.com/GLUB-ofc-108608445282951/" class="img-instagram"> <img src="/Imagens/facebook.png" alt="facebook"> </a>
            <a href="https://www.instagram.com/gerenciamentoglub/" class="img-facebook"> <img src="/Imagens/insta.png" alt="instagram"> </a>
        </div>
            <p>Copyright © 2022 Glub. All rights reserved.</p>
       
</div>
</footer>

</body>
<script src="/home/script.js"></script>
</html>