*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
}

body{
    background: #FAFAFA;
}

.logo{
    width: 127px;
    height: 122.09px;
    border-radius: 47px;
    margin-top: 32px;
}

.alerta{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
}

header .container-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 98px;
    margin-left: 101px;
    margin-bottom: 43px;

}

header nav ul{
    display: flex;

}

header nav li{
    list-style: none;

}

header nav li a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.69);
    

}
/* Button */
header nav li  a.login{
    padding-left:  55px;

}

.email-verificacao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #797979;
    border-radius: 20px;
    margin-right: 282px;
    margin-bottom: 48px;
    margin-left: 271px;
    padding: 9px 95px 12px 88px;
}

.email-verificacao h3{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.69);
}


/* All container */
section .presentation-box{
    display: flex;
    margin: auto;
    margin-right: 98px;
    margin-left: 101px;

}


/* Only text */
section .text-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter';
    font-style: normal;
    margin-right: 89px;

}


section .text-presentation h1{
    font-weight: 800;
    font-size: 64px;
    color: #5DA649;
}

section .text-presentation h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #474A48;
    padding: 15px 0 15px 0;

}

/* Button */
section .text-presentation a{
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    background: #42EE73;
    border-radius: 9px;
    padding: 15px;

}



main{    
    display: flex;
    flex-direction: column;
    margin-right: 98px;
    margin-left: 101px;
    padding-top: 55px;
    
}

/* Only text */
main .title-box h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-top: 46px;
    padding-bottom: 10px;
    color: #5DA649;
    border-top: 1px solid #5DA649;;

}

main .title-box p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;
    
    color: rgba(0, 0, 0, 0.69);

}

/* Blocks container */
main .content-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    padding-top: 57px;
    padding-bottom: 50px;
    justify-items: center;

}

main .primeira-imagem{
    padding: 17px;  

}


main .segunda-imagem{
    padding: 17px;

}


main .terceira-imagem{
    padding: 17px;  

}



section.faq{
    width: 90%;
    margin: auto;

}

section.faq .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #5DA649;
    gap: 95px 124px;
    padding: 50px 0 50px 0;

}

section.faq h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #5DA649;
    padding-top: 46px;
    border-top: 1px solid #5DA649;
    margin: auto;


}

section .primeira-pergunta h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);

    padding-bottom: 39px;
}

section .primeira-pergunta p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);

}
section .segunda-pergunta h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);
    padding-bottom: 39px;

    
}

section .segunda-pergunta p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);
}

section .terceira-pergunta h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);

    padding-bottom: 39px;

    
}
section .terceira-pergunta p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);
}

section .quarta-pergunta h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);

    padding-bottom: 39px;
    width: auto;

    
}

section .quarta-pergunta p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: rgba(0, 0, 0, 0.69);

}



footer .footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 0;

}
footer .footer-container .images{
    display: flex;
    justify-content: center;
    align-items: center;

}

footer img{
    width: 78px;
    height: 78px;

}

footer .footer-container a{
    text-decoration: none;
    padding: 50px;
    
}


footer .footer-container p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 192px;
    color: rgba(0, 0, 0, 0.69);
    

}